<!DOCTYPE html>
<html>
  <head>
    <title>Foode</title>
    <%= csrf_meta_tags %>
    <%= render 'meta' %>
    <%= render 'jquery' %>
    <%= render 'gsap' %>
    <%= render 'bootstrap_css' %>
    <%= render 'font_awesome_css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'bootstrap' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'header' %>
    <%= yield %>
    <%= render 'footer' %>
  </body>

</html>
